html, body {
  overflow-x: hidden;
  //overflow-y: scroll;
  font-size: 62.5%;
  scroll-behavior: smooth;

}

body {
  font-family: $ffb;
  color: #000;
  font-size: 1.6rem;
}

h1 {
  font-family: $ffb;
  font-size: 5rem;
  font-weight: $bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .2rem;
  margin: 8px 0;
  text-align: center;

  @include media("mobile"){
    font-size: 45px;
  }
}


h2 {
  font-family: $ffb;
  font-size: 3rem;
  font-weight: $bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .2rem;
  margin: 0;
  text-align: center;

  @include media("mobile"){
    font-size: 45px;
  }
}

p {
  font-family: $ffb;
  font-size: 1.6rem;
  font-weight: $normal;
}