@mixin media($res) {
    @if mobile==$res {
        @media only screen and (max-width: $mobile_width) {
            @content;
        }
    }

    @if tablet==$res {
        @media only screen and (max-width: $tablet_width) {
            @content;
        }
    }

    @if tablet-landscape==$res {
        @media only screen and (max-width: $tablet_landscape_width) {
            @content;
        }
    }

    @if desktop==$res {
        @media only screen and (max-width: $desktop_width) {
            @content;
        }
    }
}

$desktop_width: 1200px;
$tablet_landscape_width: 992px;
$tablet_width:  768px;
$mobile_width: 576px;
