section {
  &.form-page {
    padding: 5rem 0;

    .form-continer {
      background-color: #ccc;
      padding: 40px;
      border-radius: 10px;
      height: 100%;
      text-align: center;
    }
  }
}